div{
    display: inline-block;
    width: 15px; 
    height: 15px; 
    
}
.cell {
 
    background-color: black;
   
}

.black {
    background-color: black;
}

.white {
    box-shadow: inset 0 0 1px;
    background-color: white;
}

main{
    width: 140px;
    line-height: 0.8;
}

