
.cell {
 
    background-color: black;
   
}

.black {
    background-color: black;
}

.white {
    box-shadow: inset 0 0 1px;
    background-color: white;
}

.basket{
    background-color: bisque;
}