body {
    padding: 0;
    margin: 0;
}

header {
    background: linear-gradient(to right, #cb11ab 0, #481173 100%) no-repeat;
    justify-content: right;
    min-height: 50px;
    position: relative;

}

main {
    padding: 15px;
}

.openBasket {
    display: none;
}

.basket {
    position: absolute;
    color: white;
    background-color: #eb6fd6;
    right: 10px;
    top: 50px;
    padding: 15px;
}

.button {
    background-color: antiquewhite;
    border-radius: 3px;
    box-shadow: inset 5px black;
    display: inline-block;
    padding: 5px;
    margin: 3px;
    color: black;
    cursor: pointer;
}

.button:active {
    background-color: rgb(248, 207, 153);
}

.button-header {
    float: right;
    margin: 10px;
}


.catalog {
    display: flex;
}

.catalog-items {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 10px;
    border: 1px solid black;
    padding: 5px;
}

form {
    width: 500px;
    border: solid 1px black;
    margin: 10px;
}

fieldset {
    border: 0px;
    
}

input {
    width: 100%;
    outline:none;
}

.red-border{
    border: solid 1px red;
}